@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding: 100px;
}
.Mohit {
    position: relative;
    min-height: 100vh;
    background: url(mo.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.Mohit img{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    
  
   

    
    
} 


 

.Mohit h2
{
    font: size 3em;
    color: orange;
    font-weight: 500;
    
}
.Mohit h2 span
{
    font-size:3em;
    font-weight: 700;
    color: white;   
}
.Mohit h3
{
    font-size:1.5em;
    color:lightgreen;
    font-weight:500;
}
.btn
{
    position: relative;
    background: red;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding:10px 30px;
    font-style: 100px arial;
    text-transform: uppercase;
    text-decoration: coral;
    letter-spacing: 2px;
    font-weight: 800;
    border-radius: 25px;
}
header
{
    position: fixed;
    top: 0;;
    left: 0;
    width: 100%;
    padding:40px 100px;
    z-index: 1000;
    display: flex;
    justify-content:space-around;
    align-items:center;
    transition: 0.5s;
}
header.sticky
{
    background-attachment: white;
    padding:20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header .logo
{
    color:yellow;
    font-size: 24px;
    display: flex;
    list-style: none;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:700;
    margin: 0;
    padding: 0;
    padding: 14px 16px;
}
header .sticky .logo
{
    color: black;
}
header ul
{
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: block;
    margin: 0 15px;
    color:yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:800;
    font-size:20px;
    padding: 14px 16px;

}
header ul li a:hover{
    background-color: yellow;

}
header .sticky ul li a{
    color:white;

}

.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2
{
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;


}
.content
{
    display: flex;
    justify-content: space-between;
    
}
.contentBx p{
    font-size:30px;
}
.about{
    background-image: linear-gradient(to left,skyblue, pink);
}
.aboutBx img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 17%;
    padding: 1em;
    
    
   
}

 .conabout h2{
     position: absolute;
     margin: 5px;
     
 

    font-size: 40px;
    text-align: center;
    display: inline-block;
    


    
    
}
.contentBx h3
{
    font-size: 30px;
    margin-bottom: 10px;
}

.w50
{
    min-width: 50%;


}

.content .conabout{display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;



}

.content .conabout .aboutBx{
    padding: 40px 20px;
    background: linear-gradient(
        #009fff,
        #ec2f4b);

    color: #fff;
    max-width: 340px;
    margin: 70px;
    
    text-align: center;
   
}


.interests
{
    background-image: linear-gradient(to right,skyblue, pink);


}


.heading.white
{
    color:black;
}
.interests .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
.interests .content .interestsBx
{
    padding: 40px 20px;
    background-image: linear-gradient(#4776e6
    ,
    #8e54e9);
    color: black;
    max-width: 340px;
    margin: 30px;
    text-align: center;
    

}

.interests .content .interestsBx:hover{
    background-image: linear-gradient(
        #24c6dc,
        #514a9d
        );
    transition: 0.5s;
}
.interests .content .interestsBx h2
{
    font-size: 30px;
    font-family: 'Russo One', serif;
    font-weight: 600;
}
.achievements{
    background-image: linear-gradient(to left,skyblue, pink);

}
.achievements .content .achievementsBx{
    min-width: calc(50%-40px);
    padding: 60px 40px;
    margin: 20px;
    background: navy;
    
}
.achievements .content .achievementsBx h2
{
    font-size: 20px;
    font-weight: 600;

}
.achievements .content .achievementsBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: left;
    transition: 0.5s;
    background-image: linear-gradient(
        #c04848,
        #480048);
}
.contact
{
    background-image: linear-gradient(to right,skyblue, pink);
}
.contact .content .contactBx{
    min-width: calc(50%-40px);
    padding: 60px 40px;
    margin: 20px;
    background: lightgoldenrodyellow;
}
.contact .content .contactBx h2
{
    font-size: 20px;
    font-weight: 600; 
}
