@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
body{
  
    margin: 0;
    padding: 0;
    overflow-y:scroll;
    box-sizing: border-box;
    background-color: #e7d2ff;
    
   

}
.dark-mode{
  background-color: black;
}
 

.tweet{
  text-align: center;
  padding: 5px;
 
}



body::-webkit-scrollbar{
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .logo {
      font-size:1rem;
      margin-left: 4rem;
      font-family: 'Lobster', cursive;
  }
  
  .main-nav {
      margin-top: 5px;
      margin-right: 7rem;
      font-family: 'Raleway', sans-serif;
    
      
  }
  .logo a{
    /* padding: 10px 15px; */
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px black;
    font-size: 3.5rem;

  }

  .main-nav a {
      
      text-transform: uppercase;
      text-align: center;
      display: block;
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
      padding: 0.5rem;
      border-radius: 0.3rem;
      margin: 1rem;
  }

button{
  width: 40px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: none;

}
button:hover{
  background-color: rgb(202, 202, 202);
  
}
  
  
  
  
  .main-nav a:hover {
    border-bottom: 3px solid #e7d2ff;

  }
 .header{
     background-color:#7700ff;
     transition: 0.4s;
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
 }
  
  .home .content h1{
      margin-left: 8rem;
      font-size: 3rem;
      color: black;
      font-family:  'Roboto Slab', serif;
      letter-spacing: 0.1rem;
     
     

  }
  .dark-mode .home .content h1{
    margin-left: 8rem;
    font-size: 3rem;
    color: white;
    font-family:  'Roboto Slab', serif;
    letter-spacing: 0.1rem;
   

}
 
  .main-nav {
    justify-content: space-around;
    display: flex;
    background-color: #7700ff;
    transition: 0.4s;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .sticky + .container1 {
    padding-top: 102px;
  }
  
  
  .home .content h1 span{
      color: #7700ff;
      font-size: 5rem;
  
      
  }
  .name-anime1{
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  .name-anime1 .name-anime2{
    position: relative;
  display: inline-block;
  overflow: hidden;
  }
.name-anime1 .letters{

  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
 
  .home h4{
      font-size:1.5rem;
      color: #7700ff;
      margin-left: 8rem;
      font-family: Poppins;
      text-transform: uppercase;
      font-style: italic;

  }
  
  .container1{
     margin-top: 8rem;

  }
  
  .home .content h2{
      margin-top: 1rem;
      margin-left: 8rem;
      font-size: 3rem;
      color: black;
    
      font-family: 'Poppins', sans-serif;
  }
  .home .content h3{
    margin-left: 8rem;
    font-size: 2rem;
    color: black;
    font-family: 'Poppins', sans-serif;
    
}
.dark-mode .home .content h2{
  margin-top: 1rem;
  margin-left: 8rem;
  font-size: 3rem;
  color: white;

  font-family: 'Poppins', sans-serif;
}
.dark-mode .home .content h3{
margin-left: 8rem;
font-size: 2rem;
color: white;
font-family: 'Poppins', sans-serif;

}
.home .content .img1 img{

        width: 20%;
        position: absolute;
        right: 10%;
        top: 20%;
        border-radius: 30px;
        box-shadow: 10px 10px #7700ff;
      }
      .home .content .img1 img:hover{

        transform: scale(1.1);
        transition: 1s;
      }

      .footer {
       
        margin-top:4rem;
       
        background-color: #7700ff;
        border-radius: 20px;
        
    }
    .footer-title {
       
        text-transform: capitalize;
        font-size: 1.5rem;
        font-family: 'Carter One', cursive;
        letter-spacing: 0.4rem;
        font-weight: bold;
        color: white;
    }

    
    .footer-title {
       
        text-transform: capitalize;
        font-size: 1.5rem;
        font-family: 'Carter One', cursive;
        letter-spacing: 0.4rem;
        font-weight: bold;
        color: white;
    }
    
    .footer .col {
        text-align: center;
        padding: 1rem;
        
        
    }
    
    .footer .col:first-child .text {
        width: 50%;
        margin: 0 auto;
        font-family: 'Oleo Script', cursive;
    
        font-size: 1.7rem;
        color: white;
        
       
        
    }
    
    .footer .col:last-child div {
        padding: 0.2rem 0;
        font-size: 1.5rem;
        color: white;
       
    }
    .icons{
        margin-left: 37%;
       
    }

    .icons svg{
        margin-left: 1rem;
        
    }
    .icons svg:hover{
        transform: scale(1.2);
        transition: 0.3s;

        
    }
    .copyright h4{
        background-color:black;
        color: white;
        text-align: center;
        margin-bottom: 0;
    
    }
    
    /* About me page ka css---------------------------- */

    .container {
        align-items: start;
        display: flex;
    }
    
    .container__media img{
        margin-right: 16px;
        width: 90%;
        border-radius: 5px;
        margin-left:10rem;
        margin-right: 5rem;
        margin-top: 8rem;
        filter: brightness(1.2);
    }
    .resume a{
      padding: 10px;
      background-color: #a46ae6;
      float: right;
      margin-right: 44%;
      font-weight: bold;
      font-family: poppins;
      border-radius: 5px;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      
    }
    .dark-mode .resume a{
      padding: 10px;
      background-color:rgb(87, 87, 87);
      float: right;
      margin-right: 44%;
      font-weight: bold;
      font-family: poppins;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      
    }
    .resume a:hover{
      background-color: #c7abe7;
      
      
    }
    .dark-mode .resume a:hover{
      background-color: rgb(131, 131, 131);
    }
    
    .container__content p{
     
        flex: 1;
        padding: 2rem;
        font-size: 1.6rem;
        font-family: Poppins;
        margin-left: 20rem;
        color: black;
        width: 60%;
        background-color:#c7abe7;
        text-align: justify;
        margin-top: 8rem;
        border-radius: 20px;
       font-weight: 700;
    }

    .dark-mode .container__content p{

      flex: 1;
      padding: 2rem;
      font-size: 1.6rem;
      font-family: Poppins;
      margin-left: 20rem;
      color: white;
      width: 60%;
      text-align: justify;
      margin-top: 8rem;
      border-radius: 20px;
      background-color:rgb(87, 87, 87);
  }
    .sticky + .container {
        padding-top: 102px;
      }



      .timeline {
        /* Used to position the left vertical line */
        position: relative;
        margin: 8rem;
      
    }

    
    .timeline__line {
        /* Border */
        border-right: 3px solid #7700ff;
    
        /* Positioned at the left */
        left: 16px;
        position: absolute;
        top: 0px;
    
        /* Take full height */
        height: 100%;
    }
    .dark-mode .timeline__line {
      /* Border */
      border-right: 3px solid rgb(87, 87, 87);
  
      /* Positioned at the left */
      left: 16px;
      position: absolute;
      top: 0px;
  
      /* Take full height */
      height: 100%;
  }
    
    .timeline__items {
        /* Reset styles */
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    
  
    
    .timeline__item {
        margin-bottom: 8px;
    }
    
    .timeline__top {
        /* Center the content horizontally */
        align-items: center;
        display: flex;
    }
    
    .timeline__circle {
        /* Rounded border */
        background-color: #7700ff;
        border-radius: 9999rem;
        /* Size */
        height: 40px;
        width: 40px;
    }
    .dark-mode .timeline__circle {
      /* Rounded border */
      background-color: rgb(87, 87, 87);
      border-radius: 9999rem;
      /* Size */
      height: 40px;
      width: 40px;
  }
    
    .timeline__title {
        /* Take available width */
        flex: 1;
        font-size: 1rem;
        margin-left: 1rem;
        font-family:'Roboto Slab', serif;
    }
    .timeline_main__title{
      flex: 1;
      font-size: 1.4rem;
      margin-left: 3.5rem;
      font-family: 'Fredoka One', cursive;
      border-bottom: 3px solid #7700ff;

    }
    
    .timeline__desc {
        /* Make it align with the title */
        margin-left: 3.5rem;
        font-size: 1.2rem;
        font-family: Poppins;
    }
    .dark-mode .timeline__title {
      /* Take available width */
      flex: 1;
      font-size: 1rem;
      margin-left: 1rem;
      color: white;
      font-family:'Roboto Slab', serif;
  }
  
  .dark-mode .timeline__desc {
      /* Make it align with the title */
      margin-left: 3.5rem;
      font-size: 1.2rem;
      font-family: Poppins;
      color: white;
  }

      /* PROJECT KA CSS DATA ---------------------- */
      /* .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        border-radius: 5px;
        
    }
    
    .card__cover img {
        
        width: 50%;
        border-radius: 5px;
    }
    
    .card__content h2{
        flex: 1;
        color: white;
        padding: 2px 16px;
    }
    
    */
    .card {
        margin: 3rem;
        transition: 0.3s;
        width: 25%;
        border-radius: 5px;
        background-color:#a46ae6;
        display: inline-block;
      }
      .dark-mode .card{
        margin: 3rem;
        transition: 0.3s;
        width: 25%;
        border-radius: 5px;
        background-color:rgb(87, 87, 87);
        display: inline-block;

      }
/*       
      .card:hover {
        box-shadow: 20px 20px 0 white;
        
      }
       */
      img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        
      }
      .contentp h4{
          color: black;
          font-size: 1.5rem;
          font-family: 'Patua One', cursive;
          letter-spacing:1px;
          font-weight: 600;
      }
      .dark-mode .contentp h4{
        color: white;
        font-size: 1.5rem;
        font-family: 'Patua One', cursive;
        letter-spacing:1px;
        font-weight: 600;
    }
      .contentp p{
        color: white;
        font-size: 1rem;
        font-family: 'Patua One', cursive;
        letter-spacing:1px;

    }
    .dark-mode .contentp p{
      color: rgb(0, 0, 0);
      font-size: 1rem;
      font-family: 'Patua One', cursive;
      letter-spacing:1px;

  }
    .contentp h5{
        color: white;
        font-size: 1.2em;
        font-family: 'Roboto Slab', serif;
    }
    .dark-mode .contentp h5{
      color: black;
      font-size: 1.2em;
      font-family: 'Roboto Slab', serif;
      

  }
      
      .contentp {
        padding: 2px 16px;

      }
      

      .contentp a{
          font-family: Poppins;
          color: black;
          text-decoration: none;
          font-size: 0.9em;
          word-wrap: break-word;
      }
      .dark-mode .contentp a{
        font-family: Poppins;
        color: white;
        text-decoration: none;
        font-size: 0.9em;
        word-wrap: break-word;
        
    }
      .contentp a:hover{
       
        text-decoration: underline;
        
    }
    .sticky + .container2 {
        padding-top: 120px;
      }

      /* SKILLS CSS HAJIR HOOO ---------------*/


  
      

  .container3{
    width: 30%;
    margin: 5rem;
    display: inline-block;
  }
  .container3 h1{
      color: black;
      font-family: Lobster;
      font-size: 3.5em;
  }
  .dark-mode .container3 h1{
    color: white;
    font-family: Lobster;
    font-size: 3.5em;
}
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    
    background-color: #7700ff;
    padding: 2px;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    color:black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .dark-mode .bar{
    background-color: rgb(87, 87, 87);
    padding: 2px;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color:white;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 1s 0s;
    -webkit-animation: load 1s 0s;
    -moz-animation: load 1s 0s;
    -o-animation: load 1s 0s;
  }
  
  .bar.front::before{
    background-color: #c7abe7;
  }
  .dark-mode .bar.front::before{
    background-color: rgb(51, 51, 51);
  }
  .bar.back::before{
    background-color: white;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(90% - 10px);
  }
  .sticky + .container3 {
    padding-top: 105px;
  }

  .techski {
    display: grid;
      padding: 10px;
      margin: 10px;
      border-radius: 3px;
    
  }



      
  
  
  /* ================================= 
    Media Queries
  ==================================== */
  
  
  
  
  @media (min-width: 769px) {
      .header,
      .main-nav {
          display: flex;
      }
      .header {
          flex-direction: column;
          align-items: center;
         
      }
      }
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
  